/* Обращение к селектору класса */
.header {
	color: red;
}

/* Обращение ко всем объектам с классом .subtitle внутри всех объектов с классом .main */
.main .subtitle {
	color: darkolivegreen;
}

/* Обращение ко всем тегам SPAN во всех тегах P */
p span {
	color: chocolate;
}

/* Обращение к первому уровню вложенности */
li > a {
	color: green;
}

/* Обращение к элементу по ID (Индентификатору) */
#title-of-list {
	color: red;
}

/* Обращение ко всем элементам li с одинаковой уровнем вложенности как у id title-of-list */
#title-of-list ~ li {
	color: purple;
}

/* Селектор атрибута + регулярное выражение */
[class*="-text"] {
	color: blue;
}

/* Обращение к элементу которые имеет оба класса одновременно */
.fifth-bike-text.fift-bike-second-text {
	color: maroon;
}

/* Обращение ко всем элементам в теге footer */
footer * {
	color: red;
}

/* Обращение к одному следующему элементу того же уровня что и класс .footer-title  */
/* Перезапишет верхний селектор для ссылки, потому что тут есть уточнение */
.footer-subtitle + a {
	color: purple;
}
